/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    color: #333; /* Primary text color for the body */
}

h1, h2, h3 {
    color: #007acc; /* Dark blue for all headings */
    margin-top: 20px;
    text-align: center; 
}

h1 {
    font-size: 2.5em; 
    margin: 20px 0; 
}

h2, h3, p {
    text-align: center;
}

#affirmationContainer,
#bibleVerseContainer {
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
}

p#affirmation,
p#bibleVerse {
    font-size: 16px;
    margin: 0;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}
    
button {
    background-color: #007acc; 
    color: #fff; 
    font-size: 14px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #005180;
}
    
.divider,
.divider-exercises {
    width: 40%;
    margin: 20px auto;
}

#exercisesContainer {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px;
    width: 70%;
    max-width: 600px;
    box-sizing: border-box;
}

#exercisesContainer h2,
#exercisesContainer p,
#exercisesContainer li {
    color: #333; /* Unified text color */
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#exercisesContainer ul {
    list-style-type: none;
    padding: 0;
}

#exercisesContainer li {
    margin-bottom: 20px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.centered-heading {
    text-align: center;
}

.banner {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
}

.banner a {
    margin: 0 10px;
    text-decoration: none;
    color: #333; /* Consistent text color for links */
}

/* Other styles... */


